@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Karla', serif;
    background-color: hsl(204, 43%, 93%);
    color: hsl(204, 43%, 93%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 320px;
    border-radius: 5px;
    overflow: hidden;
    margin: 1em 0;
}

.hero,
.subscription,
.why-us {
    padding: 20px;
}

.hero {
    background-color: #fff;

}

.hero h1 {
    font-size: 1.25rem;
    color: hsl(179, 62%, 43%);
    margin: .5em 0 1em;
}

.hero-text {
    font-size: 1rem;
    font-weight: bold;
    color: hsl(71, 73%, 54%);
}

.hero-body {
    font-size: .9rem;
    color: hsl(218, 22%, 67%);
    margin: 1.2em 0;
    line-height: 1.75;
}

.subscription {
    background: hsl(179, 62%, 43%);
}

.subscription h2 {
    font-size: 1.2rem;
    margin-top: .25em;
}

.subscription .pricing {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: .5em 0 .25em;
    color: #fff;
}

.subscription button {
    padding: 15px;
    width: 100%;
    margin-top: 2em;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
}

.subscription button:hover {
    cursor: pointer;
}

.subscription .pricing span {
    font-size: 1rem;
    margin-left: 10px;
    color: hsl(179, 62%, 70%);
}

.why-us {
    background-color: hsl(179, 62%, 46%);
}

.why-us h3 {
    margin: .2em 0 1.1em;
}

.why-us ul {
    list-style: none;
}

.why-us ul li {
    font-size: .9rem;
    margin-bottom: .3em;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 450px;
    }

}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 650px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45% 55%;
    }

    .hero {
        grid-column: span 2;
    }

    .hero-body {
        width: 90%;
    }

    .hero,
    .subscription,
    .why-us {
        padding: 30px 40px;
    }

}